/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

tableDiv{
 margin: auto;
}

button {
  padding: 10px 0px;
  background-color:  #8d2ab5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14pt;
  letter-spacing: .6pt;
  width: 140px;
}
table {
  margin-top: 40px;
  background-color: #060ce9;
  border: 1px, solid;
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 10px;

}

thead {
  height: 100px;
  font-size: 1 rem;
  background-color: #115ff4;
  color: white;
}

.table-body {
position: relative;
font-size: 1rem;
background-color: #060ce9;
color: white;
}

tbody .answer {
background-color: green;
}

.showing-null {
font-size: 2rem;
}


td {
  border: 1px, solid;
  border-radius: 4px;
  background-color: #060ce9;
  outline-color: black;
  width: 150px;
  height: 100px;
  padding: 6px 20px;
  text-align: center;
  cursor: pointer;
  justify-content: space-around;

}